* {
    font-family: serif;
    background-color: lightgoldenrodyellow;
}

.header {
    text-decoration: underline;
    font-size: 200px;
    border-style: groove;
    border-color: black;
    border-width: 20px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    font-size: 50px;
}

body {
    text-align: center;
}

a {
    text-decoration: none;
     color: purple;
    font-weight: bold;
    border-style: groove;
    border-color: black;
    border-radius: 10px;
    border-width: 5px;
    padding: 5px;
    background-color: white;
}

a:hover {
    text-decoration: underline;
}

.pic {
    height: 300px;
    width: auto;
    border-style: groove;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
}

li { 
    padding: 10px;
}